node_modules
.git
.next
Dockerfile
.dockerignore
npm-debug.log

docker-compose.yml

/node_modules
/.pnp
.pnp.js

/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo
nginx/